NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/wifi_billing
REDIS_URL=redis://localhost:6379
JWT_SECRET=please_change_me_and_make_it_long
ADMIN_JWT_EXPIRES_IN=8h
SMS_FROM=WiFiBilling
MTN_MOMO_COLLECTION_PRIMARY_KEY=changeme
MTN_MOMO_USER_ID=changeme
MTN_MOMO_API_KEY=changeme
MTN_MOMO_BASE_URL=https://sandbox.mtn.com
MTN_MOMO_CALLBACK_URL=https://example.ngrok.app/api/v1/webhooks/mtn
AIRTEL_CLIENT_ID=changeme
AIRTEL_CLIENT_SECRET=changeme
AIRTEL_BASE_URL=https://openapi.airtel.africa
AIRTEL_CALLBACK_URL=https://example.ngrok.app/api/v1/webhooks/airtel
